<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
        <coingecko-coin-price-marquee-widget
            coin-ids="bitcoin,ethereum,litecoin,near,terra-luna,binancecoin,monero,fantom,solana,matic-network"
            currency="usd" background-color="#ffffff" locale="en">
        </coingecko-coin-price-marquee-widget>

        <div id="carouselExampleControls" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="coinmarketcap-currency-widget col" data-currencyid="1" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="1027" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="1839" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="coinmarketcap-currency-widget col" data-currencyid="52" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="5426" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="2010" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="coinmarketcap-currency-widget col" data-currencyid="6636" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="74" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                        <div class="coinmarketcap-currency-widget col" data-currencyid="5994" data-base="USD"
                            data-secondary="" data-ticker="true" data-rank="false" data-marketcap="true"
                            data-volume="true" data-statsticker="true" data-stats="USD"></div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- aside for zalo chatbox in bottom right corner -->
    <aside>
        <div class="zalo-chat-widget" data-oaid="579745863508352884" data-welcome-message="Rất vui khi được hỗ trợ bạn!"
            data-autopopup="2" data-width="300" data-height="300">
        </div>
    </aside>

    <!-- main content here -->
    <article>
        <div class="my-5">
            <div class="d-flex flex-row">
                <h2 class="fw-bolder">Today's Cryptocurrency Prices by Market Cap</h2>
            </div>
            <div class="">
                <p>The global cryptocurrency market cap today is <span class="fw-bold" id="marketcap2"></span>
                    Trillion, a
                    <span class="fw-bold" style="color: rgb(23,198,132);" id="mcap_change"></span> change in the
                    last 24
                    hours
                </p>
            </div>
        </div>
        <hr>

        <!-- Crypto-table -->
        <div id="crypto-section" class="container-fluid justify-content-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ranking-tab" data-bs-toggle="tab" data-bs-target="#ranking"
                        type="button" role="tab" aria-controls="ranking" aria-selected="true">Ranking</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="defi-tab" data-bs-toggle="tab" data-bs-target="#defi" type="button"
                        role="tab" aria-controls="defi" aria-selected="false">DeFi</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="dex-tab" data-bs-toggle="tab" data-bs-target="#dex" type="button"
                        role="tab" aria-controls="dex" aria-selected="false">DEX Coins</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ranking" role="tabpanel" aria-labelledby="ranking-tab">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th>Coin</th>
                            <th>Price</th>
                            <th>1h</th>
                            <th>24h</th>
                            <th>7d</th>
                            <th>Volume(24h)</th>
                            <th>Market Cap</th>
                            <th>Fully Diluted Mkt. Cap</th>
                        </thead>
                        <tbody id="ranking-table-body">

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="defi" role="tabpanel" aria-labelledby="defi-tab">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th>Coin</th>
                            <th>Price</th>
                            <th>1h</th>
                            <th>24h</th>
                            <th>7d</th>
                            <th>24h Volume</th>
                            <th>Market Cap</th>
                            <th>Fully Diluted Mkt. Cap</th>
                        </thead>
                        <tbody id="defi-table-body">

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="dex" role="tabpanel" aria-labelledby="dex-tab">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th>Coin</th>
                            <th>Price</th>
                            <th>1h</th>
                            <th>24h</th>
                            <th>7d</th>
                            <th>24h Volume</th>
                            <th>Market Cap</th>
                            <th>Fully Diluted Mkt. Cap</th>
                        </thead>
                        <tbody id="dex-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example"">
                <ul class=" pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
    </article>
</body>

</html>