body {
	background-color: white;
	color: black;
}

/* 													for dark mode feature*/
.dark-mode {
	background-color: rgb(24, 26, 27) !important;
	color: white !important;
}

.btn-toggle {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}


